.post-button {
  width: 554px;
  height: 57px;
  text-align: center;
  background: #FFEC30;
  border-radius: 20px;
  border: #FFEC30;
}

@media (max-width: 570px) {
  .post-button {
    width: 250px;
    height: 57px;
    text-align: center;

    font-size: 13px;
  }

}