.footer {

    margin-top: 100px;
    padding-bottom: 0;
    height: 16px;
    display: inline-block;
}

.footer-primary-color {
    background-color: #DD1176;
    width: 33%;
   
}

.footer-secondary-color {
    background-color: #00AEEF;
    width: 33%;
   
   
}

.footer-thirty-color {
    background-color: #FFEC30;
    width: 33%;
   
}